<!DOCTYPE html>
<html ng-app="pageApp" ng-controller="pageController">
<head>
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" href="css/pageAppCss.css">
	<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
</head>


<body>

	<div id="header">
		<h3>Logo</h3>
	</div>
	<ul class="vertical">
		<li><a href="#home">Dashboard</a></li>
		<li><a class="active" href="#news">Contacts</a></li>
	</ul>
	<div class="headingLine">
		<h3>Contact Form</h3>
		<hr style="margin-right: 5%">
		<div>
			<div class="btnClass">
				<a class="btn btn-default" href="contactForm.html">
					Add Contact
				</a>
			</div>
		</div>
		<br>
		<br>
		<br>

		<div class="container">
			<div class="jumbotron">
				<div class="row">
					<div class="col-md-8">
						<form name="addEditContact" method="get">
						<div class="row">
							<div class="col-md-3">
								<label class="control-label pull-right">First Name:</label>
							</div>
							<div class="col-md-9">
								<input type="text" name="fname" ng-model="fname" placeholder="Enter the First Name" style="width:100%">
							</div>
						</div>
						<div class="row betweenRow">
							<div class="col-md-3">
								<label class="control-label pull-right"> Last Name:</label>
							</div>
							<div class="col-md-9">
								<input type="text" name="lname" ng-model="lname" placeholder="Enter the First Name" style="width:100%">
							</div>
						</div>
						<div class="row betweenRow">
							<div class="col-md-3">
								<label class="control-label pull-right"> Email</label>
							</div>
							<div class="col-md-9">
								<i class="fa fa-plus-circle fa-2x pull-right" onclick="javascript:addEmail()" aria-hidden="true"></i>
							</div>
						</div>
						<div class="row betweenRow"><div class="col-md-12"><hr style="margin-top:0px;border-top: 1px solid #000;"></div></div>
						<!--<hr >-->
						<div id="emailArea">
							<div class="row betweenRow">
								<div class="col-md-3">
									<select class="pull-right">
										<option>Work</option>
										<option>Personal</option>
									</select>
								</div>
								<div class="col-md-8">
									<input type="email"  name="emailWork" ng-model="emailWork" style="width:100%">
								</div>
								<div class="col-md-1">
									<i class="fa fa-minus-circle fa-2x pull-right" aria-hidden="true"></i>
								</div>
							</div>
						</div>
						<div class="row betweenRow">
							<div class="col-md-3">
								<label class="control-label pull-right"> Phone:</label>
							</div>
							<div class="col-md-9">
								<i class="fa fa-plus-circle fa-2x pull-right" onclick="javascript:addNumber()" aria-hidden="true"></i>
							</div>
						</div>

						<div class="row betweenRow" ><div class="col-md-12"><hr style="margin-top:0px;border-top: 1px solid #000;"></div></div>
						<!--<hr >-->
					<div id="numberArea">
						<div class="row betweenRow">
							<div class="col-md-3">
								<select class="pull-right">
									<option>Work</option>
									<option>Personal</option>
								</select>
							</div>
							<div class="col-md-8">
								<input type="text" name="phWork" ng-model="phWork" style="width:100%">
							</div>
							<div class="col-md-1">
								<i class="fa fa-minus-circle fa-2x pull-right aria-hidden="true"></i>
							</div>
						</div>


						</form>
					</div>	<div class="row betweenRow">
					<div class="col-md-10"><button type="button" class="btn btn-default pull-right" ng-click="addContacts()">Save</button></div>
					<div class="col-md-2"><button type="button" class="btn btn-default pull-right" ng-click="">Cancel</button></div>
				</div>
				</div>
			</div>
		</div>



			</div>
		</div>
			<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
			<script	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
			<script src= "http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
			<script type="text/javascript" src="js/pageAppController.js"></script>
</body>
</html>

